.nav{
	height: 20px;
	width: 100%;
	background-color: $gray;
	padding: 10px 0px;
	.nav-sides{
		padding: 0 20px;
	}
}

.popup-youtube{
	width: 500px;
    height: 400px;
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
    
    .icon-play{
    	background: url('images/play_button.png');
    	height: 158px;
    	width: 158px;
	    display: inline-block;
	    position: absolute;
	    top: 25%;
	    background-size: cover;
	    left: 36%;
    
    }
}