@import url(magnific-popup.css);
.nav { height: 20px; width: 100%; background-color: #c0c0c0; padding: 10px 0px; }

.nav .nav-sides { padding: 0 20px; }

.popup-youtube { width: 500px; height: 400px; display: block; margin: 0 auto; text-align: center; position: relative; }

.popup-youtube .icon-play { background: url("images/play_button.png"); height: 158px; width: 158px; display: inline-block; position: absolute; top: 25%; background-size: cover; left: 36%; }

#map { width: 80%; height: 600px; margin: 0 auto; display: block; }

.shopinfo { min-width: 100px; min-height: 40px; display: block; border: 1px solid #000; padding: 10px; }

.shopinfo .shopname { font-weight: bold; font-size: 16px; display: block; padding: 2px 0; }

.shopinfo .shopaddress { font-size: 12px; display: block; padding: 2px; }

.shopinfo .shopphone { font-size: 12px; display: block; font-style: italic; padding: 2px; }
